#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include "italian.keycodes"

// Layer definitions
    #define BASE 0
    #define NAVIGATION 1
    #define NUMSYMBOL 2
    #define FUNCTIONS 3
// -----------------

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

&mmv {
   time-to-max-speed-ms = <680>;
   acceleration-exponent=<2>;
};

/ {
  chosen {
    //zmk,matrix_transform = &default_transform;
    zmk,matrix_transform = &five_column_transform;
  };
};

/ { 

        keymap {
                compatible = "zmk,keymap";
        
        // Base alpha layer
		// legenda:
		// 
		// kp = tap
		// mt = hold

       		default_layer {
                        label = "BASE";
		bindings = <
		&mt ESC Q           &kp W       &kp E       &kp R       &kp T 		&kp Y       &kp U      &kp I        &kp O        &mt BACKSPACE P 
		&mt TAB A    &mt LCTRL S &mt LALT D  &mt LGUI F  &kp G 		&mt RGUI H  &mt RALT J &mt RCTRL K  &mt RSHIFT L &kp ENTER
		&mt LCTRL Z           &kp X       &kp C       &kp V       &kp B       &kp N   &kp M       &kp COMMA   &kp DOT     &kp SLASH
          				
                                           &kp LCTRL    &kp LALT     &to 1      &kp ENTER &kp SPACE &kp RSHIFT
		>;
		};

       		navigation_layer {
                        label = "NAVI";
		bindings = <
		&kp ESC         &mwh SCROLL_LEFT    &mmv MOVE_UP    &mwh SCROLL_RIGHT   &mwh SCROLL_UP 			&kp PG_UP   &kp HOME    &kp UP           &kp END        &kp DELETE
		&kp LSHIFT      &mmv MOVE_LEFT      &mmv MOVE_DOWN  &mmv MOVE_RIGHT     &mwh SCROLL_DOWN  		&kp PG_DN   &kp LEFT    &kp DOWN         &kp RIGHT      &kp BACKSPACE 
		&mt TILDE GRAVE &kp  LCTRL          &kp  LALT       &kp  LGUI           &mkp MCLK   			&kp INS     &kp RC(TAB) &kp LC(LS(TAB))  &kp SYSREQ     &mt DOUBLE_QUOTES SINGLE_QUOTE  
							    
                                                     &none       &mkp LCLK           &to 2  					&to 0       &mkp RCLK &none
		>;
		};
		
		    numsymbol_layer {
                        label = "SYMB";
		bindings = <
		&kp NUMBER_1    &kp NUMBER_2    &kp NUMBER_3    &kp NUMBER_4    &kp NUMBER_5    			&kp NUMBER_6    &kp NUMBER_7            &kp NUMBER_8    &kp NUMBER_9            &kp NUMBER_0 
		&mt LSHIFT LT   &mt LCTRL LPAR  &mt LALT LBRC   &mt LGUI LBKT   &kp MINUS 			        &kp EQUAL       &mt RGUI EXCLAMATION    &mt RALT HASH   &mt RCTRL SEMICOLON     &mt RSHIFT BACKSLASH
		&kp GT          &kp RPAR        &kp RBRC        &kp RBKT        &kp UNDERSCORE              &kp PLUS        &kp AT_SIGN             &kp DOLLAR      &kp COLON               &kp PIPE
                        
                                                &none        &kp AMPERSAND   &to 3                       &to 0           &kp ASTERISK &none
		>;
		};	
		
		    functions_layer {
                        label = "FUNC";
		bindings = <
        &kp F1      &kp F2      &kp F3      &kp F4      &kp F5 			&kp F6      &kp F7      &kp F8        &kp F9        &kp F10
		&kp LSHIFT  &kp LCTRL   &kp LALT    &kp LGUI    &none  		    &none       &kp RGUI    &kp RALT      &kp RCTRL     &mt RSHIFT F11 
		&bt BT_CLR  &bt BT_NXT  &bt BT_PRV  &bootloader &reset   		&reset      &bootloader &bt BT_SEL 0  &bt BT_SEL 1  &kp F12   
					 
                                    &none       &none       &to 1  			&to 0       &none       &none
		>;
		};	
        
	};
};
